@media (max-width:575px){

    #video{
        height: 100vh;
        background-color: rgba(255,166,0,0.5);
    }
    video{
        height: 100vh;
    }

    /* Start open section */
    .open-title:before, .open-title:after{
        width: 31%
    }
    .open-title:before {
        margin-left: -34%;
    }
    /* End Open section */
    .open{
        position: static;
        font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
        background-color: #1a1814;
        width: 100%;
        text-align: center;
        padding: 50px 0;
        animation-name: none;
        border-radius: 0;
    }
    #card{
        justify-content: center;
    }

    /* Start menu section */
    #dropdown{
        justify-content: space-between!important;
        height: 105px;
        margin-bottom: 20px!important;
        flex-direction: column;
    }
    /* End menu section */
}