

table {
    border-collapse: collapse;
    width: 70%;
    margin: 50px;
    flex-wrap: wrap;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #e75d0d;
    color: white;
  }